img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

h1 {
  font-weight: bold;
  color: pink;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 20%;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: beige;
  border-radius: 10px;
  gap: 10px;
}
